body {
    background-color: #ffcc0021;
    padding: 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: rgb(228, 161, 84);
    padding: 0;
}

ul.header li a {
    color: rgb(241, 243, 144);
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

ul.header a.active {
    color: rgb(8, 8, 8);
}

.contentbox {
    background-color: rgb(204, 174, 110);
    padding: 25px;
}

.content {
    padding: 10px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}