body {
    background-color: #ffcc0021;
    padding: 20px;
    margin: 0;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

p {
    font-size: 20px;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 1px 16px;
    margin-left: 25px;
}

ul.header {
    background-color: rgb(228, 161, 84);
    padding: 0;
    margin-left: 420px;
    height: 50px;
    text-align: center;
}

ul.header li a {
    color: rgb(241, 243, 144);
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 16px;
    padding-right: 30px;
}

ul.header a.active {
    color: rgb(8, 8, 8);
}

.contentbox {
    margin-left: 420px;
    margin-bottom: 30px;
    padding: 1px 16px;
    background-color: rgb(204, 174, 110);
    padding: 20px;
}

.content {
    margin-left: 420px;
    padding: 1px 16px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #e6d266f8;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .copyright {
      position: absolute;
      bottom: 30px;
  }